<%= render 'layouts/navbar' %>
<div class="container">
	<div class="form_wrapper">
		<form>
			<p>Sign Up</p>
			<hr>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="First Name" required>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Last Name" required>
			</div>	
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" required>
			</div>	
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" required>
			</div>	
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Confrim password" required>
			</div>
			<div class="register_btn">
				<a class="btn btn-danger btn-lg" href="#" role="button">Sign Up</a>
			</div>
			<hr>
			<p>Already Have a PayUp account? <a href="#">Log In</a></p>

		</form>
	</div>
</div>