<div class="navbar navbar-default">
	<div class="container">
		<h2><a href="root_path" class="logo"> PayUp </a></h2>
		<ul class="nav navbar-nav">
			<li><a href=""><button class="btn btn-primary">Log In</button></a>	
			</li>
			<li><a href="#"><button class="btn btn-danger">Sign Up</button></a></li>
		</ul>
	</div>
</div>